---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/briancolfer/abcscribe/issues/42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"number":42,"state":"open","title":"Active Behaviors \u203a Archive:
        The popup looks like a system dialog.","body":"The archive popup uses the
        browser native confirm() dialog.","labels":[{"id":1,"name":"qa-feedback","color":"fbca04"},{"id":2,"name":"pre-launch","color":"e11d48"},{"id":3,"name":"ux","color":"bfd4f2"}],"html_url":"https://github.com/briancolfer/abcscribe/issues/42"}'
  recorded_at: Tue, 12 May 2026 00:00:00 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/briancolfer/abcscribe/issues/42
    body:
      encoding: UTF-8
      string: '{"labels":["pre-launch","qa-feedback","ux"],"title":"Active Behaviors
        \u203a Archive: Updated title.","state":"open","body":"Updated body text."}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"number":42,"state":"open","title":"Active Behaviors \u203a Archive:
        Updated title.","body":"Updated body text.","labels":[{"id":1,"name":"qa-feedback","color":"fbca04"},{"id":2,"name":"pre-launch","color":"e11d48"},{"id":3,"name":"ux","color":"bfd4f2"}],"html_url":"https://github.com/briancolfer/abcscribe/issues/42"}'
  recorded_at: Tue, 12 May 2026 00:00:00 GMT
recorded_with: VCR 6.4.0
